@layer utilities {

/*
Label
-----------------------------------------------------------------------------
*/

.label {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--af) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--a) / var(--tw-text-opacity));
    @apply inline-block text-sm font-bold uppercase rounded-full px-3 py-1 leading-normal;
}

/*
Red label
-----------------------------------------------------------------------------
*/

.red.labels .label, .red.label {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--af) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--a) / var(--tw-text-opacity));
}

/*
Promotion label
-----------------------------------------------------------------------------
*/

.promotion_label {
    @apply bg-accent rounded-sm w-fit p-2 whitespace-nowrap;
}

}

