<a href="{{ path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}) }}">
    <div class="btn btn-outline btn-sm lg:btn-md"><i class="icon plus"></i> {{ 'sylius.ui.add_your_review'|trans }}</div>
</a>
