<div id="appliedPromotions" class="flex flex-wrap items-center gap-4 mb-4" data-applied-promotions-locale="{{ sylius.localeCode }}">
    {% for appliedPromotion in appliedPromotions %}
            <div class="promotion_label sylius_catalog_promotion">
                {{ appliedPromotion.label }}
            </div>
            <span class="text-xs text-accent">
                {% if appliedPromotion.description and withDescription %}{{ appliedPromotion.description }}{% endif %}
            </span>
    {% endfor %}
</div>
