{% set variant = product|sylius_resolve_variant %}

{% if variant is not null %}
    {% set appliedPromotions = variant.getChannelPricingForChannel(sylius.channel).getAppliedPromotions() %}
    {% include '@SyliusShop/Product/Show/_catalogPromotionLabels.html.twig' with {'appliedPromotions': appliedPromotions, 'withDescription': true} %}
{% endif %}

<div class="flex justify-between items-center mb-4" {{ sylius_test_html_attribute('product-price-content') }}>
    <div class="">
        {% if not product.enabledVariants.empty() %}
            {% include '@SyliusShop/Product/Show/_price.html.twig' %}
        {% endif %}
    </div>
    <div class="">
        <span class="text-gray-500">{{ product.code }}</span>
    </div>
</div>
