<footer id="footer" class="relative pt-32 flex flex-col items-center">
    {% include "@SyliusShop/Layout/Footer/Grid/_pre_footer.html.twig" %}
    <div class="w-full">
        {{ sylius_template_event('sylius.shop.layout.footer') }}
    </div>
</footer>
