<footer id="footer" class="relative pt-32 flex flex-col items-center">
    {% include "@SyliusShop/Layout/Footer/Grid/_pre_footer.html.twig" %}
    <div class="w-full">
        {{ sylius_template_event('sylius.shop.layout.footer') }}
    </div>

    <div class="absolute p-8 right-0 bottom-0">
            <select class="select select-bordered w-full max-w-xs" name="themes" id="theme-select">
                <option disabled selected>Choisir un thème :</option>
                <option value="pastel">pastel</option>
                <option value="light">light</option>
                <option value="cupcake">cupcake</option>
                <option value="garden">garden</option>
                <option value="corporate">corporate</option>
                <option value="acid">acid</option>
            </select>
        </div>
</footer>
