<h1 class="text-3xl font-bold my-10">
        {{ 'sylius.ui.customer_login'|trans }}
        <div class="text-base text-gray-400 font-normal">{{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}</div>
</h1>

