<h4 class="text-xl font-bold mb-2">{{ 'sylius.ui.new_customers'|trans }}</h4>
<a href="{{ path('sylius_shop_register') }}" class="btn btn-primary btn-wide">
    <i class="signup icon"></i>
    {{ 'sylius.ui.create_an_account'|trans }}
</a>
