@tailwind base;
@tailwind components;
@tailwind utilities;


.topbar {
    @apply flex flex-col md:flex-row justify-between items-start lg:items-center gap-8 bg-primary py-4 px-4 lg:px-72;
}

.navbar {
    border-top: 1px solid lightgrey;
}

.hero {
    place-items: stretch;
}

.hero-content {
    @apply flex-col items-start;
}

.card-body {
    --padding-card: 1rem;
    @apply justify-between gap-0 h-4/6;
}

.card {
    @apply shadow-xl bg-base-100;
}

.card > figure > img {
    width: 100%;
    object-fit: contain;
}

.latest-product .card {
    @apply md:w-2/4 lg:w-1/4;
}

.slick-arrow {
    position: absolute;
    padding-inline: 0;
}

.homepage .carousel-wrapper {
    position: relative;
}

.homepage .carousel-nav .carousel-left,
.homepage .carousel-nav .carousel-right {
    position: relative;
}

@screen lg {
    .homepage .carousel-nav .carousel-left,
    .homepage .carousel-nav .carousel-right {
        position: absolute;
        top: 50%;
    }
}

.homepage .carousel {
    margin: 0 -1em;
}

.homepage .carousel-item {
    padding: 5px .5em;
    box-sizing: inherit;
}

.homepage .carousel-item .card {
    height: 25rem;
}
@screen lg {
    .homepage .carousel-item .card {
        height: 40rem;
    }
}

.newsletter::before {
    content: "";
    position: absolute;
    background-color: hsl(var(--a));
    width: 100vw;
    height: 100%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.text-white {
    opacity: 1;
}

.promotion_label {
    @apply bg-accent rounded-sm w-fit p-2 whitespace-nowrap;
}

.footer {
    @apply pb-10 pt-96 lg:pt-32 px-14 lg:px-72 text-base-content bg-primary-content;
}

.pre-footer {
    min-height: 30rem;
    @apply absolute -top-2 bg-primary rounded-md flex flex-col justify-between lg:justify-evenly lg:flex-row items-center py-8 lg:py-12 w-9/12 lg:min-h-0;
}

.tabs.menu {
    flex-direction: row;
}

.ui.tab {
    display: none;
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
}

.ui.tab.active {
    display: block;
    height: 100%;
}

.tab.item {
    padding-bottom: theme('spacing.8'); 
} 

.tab-bordered.active {
    border-color: hsl(var(--af) / var(--tw-border-opacity));
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
}

.tab-bordered.active {
    font-weight: bold;
}

.red.labels .label, .red.label {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--af) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--a) / var(--tw-text-opacity));
}
