@layer components {

/*
Newsletter
-----------------------------------------------------------------------------
*/

.newsletter::before {
    content: "";
    position: absolute;
    background-color: hsl(var(--s));
    width: 100vw;
    height: 100%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

}
