<div class="latest-product">
    <div class="inline-flex justify-center items-center gap-2 w-full">
        <h2 class="text-3xl font-bold my-10">{{ 'sylius.ui.latest_products'|trans }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
        </svg>
    </div>

    <div class="flex flex-col justify-center items-center gap-4 lg:items-stretch lg:flex-row" {{ sylius_test_html_attribute('latest-products') }}>
        {{ render(url('sylius_shop_partial_product_index_latest', {'count': 3, 'template': '@SyliusShop/Homepage/_list.html.twig'})) }}
    </div>
</div>
