{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="divider mt-0"></div>

    {% block breadcrumb %}
    {% endblock %}

    <div class="flex flex-col lg:flex-row gap-14">
        <div class="w-full lg:w-3/12">
            {{ sylius_template_event('sylius.shop.account.layout.menu') }}
        </div>
        <div class="w-full lg:w-9/12">
            {{ sylius_template_event('sylius.shop.account.layout.before_subcontent') }}

            {% block subcontent %}
            {% endblock %}

            {{ sylius_template_event('sylius.shop.account.layout.after_subcontent') }}
        </div>
    </div>
{% endblock %}
